<button type="button" pButton icon="pi pi-check" (click)="carService.showDialogToAdd()" label="Add"></button>
<br><br>
<p-table [columns]="cols" [value]="cars" selectionMode="single"  [paginator]="true" [rows]="5">
  <ng-template pTemplate="caption">
      List of Car
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>Aksi</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td>
          <!-- <button type="button" pButton (click)="getUbah(rowData)" label="Ubah"></button>&nbsp;
          <button type="button" pButton class="ui-button-raised ui-button-danger" (click)="getdel(rowData)" label="Hapus"></button>
         -->
          <button type="button" pButton (click)="getData(rowData)" label="Ubah"></button>&nbsp;
          <button type="button" pButton class="ui-button-raised ui-button-danger" (click)="delCar(rowData)" label="Hapus"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

