<p-dialog header="Car Details" [(visible)]="carService.displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
    <app-input-form></app-input-form>
</p-dialog>
<app-data-table></app-data-table>
