
<!-- <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300"> -->
  <div>
    <form [formGroup]="formInput">
      <label> Vin </label>
       <br>
       <input type="text" appDirectiveNull formControlName="vin" required>
       <div *ngIf="!formInput.controls['vin'].invalid && (formInput.controls['vin'].dirty || formInput.controls['vin'].touched) ">
        </div>
      <!-- </label> -->
      <br>
      <label> Year
        <br>
        <select appDirectiveNull formControlName="year" required>
          <option value="" disabled selected hidden>Choose Year :</option>
          <option value="{{th.value}}" *ngFor="let th of year ">{{th.label}}</option>
        </select>
      </label> 
      <br>
      <label>Brand
        <!-- <div *ngIf="!todoform.controls['userId'].valid && todoform.controls['userId'].dirty ">
          <p style='color:salmon'>User Id harus diisi</p>
        </div>-->
      <br><input type="text" appDirectiveNull formControlName="brand" required>
    </label>
      <br>
      <label>Color
        <br>
        <input type="text" appDirectiveNull formControlName="color" required>
        <!-- <div *ngIf="!todoform.controls['title'].valid && todoform.controls['title'].dirty ">
            <p style='color:salmon'>Title harus diisi</p>
          </div> -->
      </label>
      <br>
      <label> Type
        <br>
        <select appDirectiveNull formControlName="type" required>
          <option value="" disabled selected hidden>Choose Type Car :</option>
          <option value="{{ty.value}}" *ngFor="let ty of types ">{{ty.label}}</option>
        </select>
      </label>
      <br><br>
      <button type="submit" pButton label="Simpan" (click)="addCar()" [disabled]="!formInput.valid"></button>&nbsp;
      <!-- krna type submit dan diatas sudah dideklar ngsumbit -->
      <button type="button" pButton (click)="reset()" label="Batal"></button>&nbsp;
    </form>
  </div>
  <br>
<br><br>
<!-- </p-dialog>   -->
  